<template>
        <div class="betInfo_Center"  v-loading="loading"  element-loading-background="rgba(0, 0, 0, 0.8)">
            <div v-for="(item,i) in getBetdata" :key="i" class="betInfo_List" >
                <div  class="BIL_In" :class="getclass(item.Odds.Status,item.isrepeat,item.arrArr)" >
                    <div class="flex BIL_T_text">
                        <div>
                            <span class="t_blue"> {{ item.bet_title }} </span>
                            <span class="t_red">{{ item.Cutline }}</span>
                            <span class="t_inlineBox"> @ <span class="t_red">{{ item.OddsValue }}</span></span>
                        </div>
                        <i class="el-icon-close" @click="deleteBet(i)"></i>
                    </div>
                    <div class="BIL_In_padding">
                        <div>
                            <span v-if="item.CatID === 1">足球</span>
                            <span v-if="item.CatID === 82">冰球</span>
                            <span v-if="item.CatID === 83">彩球</span>
                            <span v-if="item.CatID === 4">棒球</span>
                            <span v-if="item.CatID === 16">籃球</span>
                            <span v-if="item.WagerGrpID === 10"> - [全場]</span>
                            <span v-if="item.WagerGrpID === 11"> - [上半]</span>
                        </div>
                        <div>{{ item.LeagueNameStr }}</div>
                        <div>{{ item.HomeTeamStr }} <span class="t_orange">(主)</span> vs {{ item.AwayTeamStr }}</div>
                        <div v-show="type===0" class="BIL_input">
                            <input v-model="item.Amount" :max="item.BetMax" :min="item.BetMin"
                                   :placeholder="item.BetMin +  '-' +item.BetMax"
                                   type="number">
                            <input disabled placeholder="可赢金額" type="text">
                        </div>
                        <div class="betLimit_t ">本場上限：{{ 100000 }}</div>
                        <div v-if="item.arrArr" class="errorText1">{{item.arrArr}}</div>
                    </div>
                    <div v-show="item.Odds.Status === 0" class="betError">
                        <span>盘口关闭中，请移除后下注</span>
                        <span>盘口关闭中，请移除后下注</span>
                    </div>
                </div>
            </div>
            <div v-show="showErrorText()" class="errorText">
                <span>※ 存在同場賽事</span>
                <span>已選項目有 {{errornum}} 注無法串關</span>
            </div>
            <div v-show="type === 0" class="betPlay_list flex">
                <span>單    注:</span>
                <div>
                    <input v-model="allAmount" placeholder="" type="text"> <span class="t_blue">x  {{ getBetdata.length }} </span>
                </div>
            </div>
            <div v-show="type === 1" class="betPlay_list flex">
                <span>{{ getBetdata.length }}串1</span>
                <div>
                    <input v-model="AmountS" placeholder="" style="width: 100%" type="text">
                </div>
            </div>
            <div class="betPlay_list flex betPlay_list">
                <span>可赢金額:</span>
                <div>
                    <input disabled placeholder="" style="width: 100%;" type="number"> <span v-show="type === 0" class="t_blue">x {{
                        getBetdata.length
                    }}</span>
                </div>
            </div>
            <div class="block">
                <el-carousel :autoplay='false' arrow='always' height="50px" indicator-position='none' trigger="click">
                    <el-carousel-item v-for="item in 4" :key="item">
                        <div class="flex BPC_List">
                            <img alt="" class="icon" src="@/assets/img/sun1.svg">
                            <img alt="" class="icon" src="@/assets/img/sun1.svg">
                            <img alt="" class="icon" src="@/assets/img/sun1.svg">
                        </div>
                    </el-carousel-item>
                </el-carousel>
            </div>
            <div class="betPlay_btm">
                <ul class=" color_text">
                    <li class="flex">所有投注：
                        <div class="BPBM_L">123451</div>
                    </li>
                    <li class="flex">可赢金額：
                        <div class="BPBM_R">12345</div>
                    </li>
                </ul>
            </div>
            <div class="flex btn_betPlay">
                <div class="btn_betPlay_clear btn" @click="deleteBet('all')">取 消</div>
                <div v-if='confirm === 0' class="btn btn_betPlay_confirm" @click="Play_bet(0)">確認下注</div>
                <!--                <div v-if='confirm ===1' class="btn_betPlay_change btn" @click="getConfirm(2)">接受變化並下注</div>-->
                <!--                <div v-if='confirm === 2' class="btn_betPlay_confirmOK btn" @click="getConfirm(0)">關 閉</div>-->
            </div>
        </div>
</template>

<script>

import {mapGetters, mapMutations} from 'vuex';
import {gamePlay, playState, getBetInfo, getbetHistory} from "../../../request/api/Games";

export default {
    name: 'betInfoList',
    data() {
        return {
            activeValue: 0,
            activeBetInfo: 0,
            confirm: 0,
            Amount: '',
            allAmount: '',
            AmountS: '',
            updataInterval: '',
            Betdata: [],
            errornum:0,
            loading:false,
            successArr: [],
            errArr: []
        }
    },
    props: {
        type: 0,
    },
    computed: {
        ...mapGetters('games', ['getBetdata', 'WagerString'])
    },

    components: {},
    watch: {
        allAmount(val) {
            for (const item of this.getBetdata) {
                item.Amount = val
            }
        },

        'getBetdata.length': {
            handler(newValue, oldValue) {
                var _this = this
                if (newValue !== oldValue) {
                    var GameIDs = []
                    clearInterval(this.updataInterval)
                    _this.getBetdata.forEach((item, i) => {
                        console.log(item);
                        GameIDs.push(item.Odds.GameID)
                    })
                    var ids = '[' + GameIDs + ']'
                    this.updataInterval = setInterval(async function () {

                        await getBetInfo({GameIDs: ids}).then((res) => {

                            res.data.forEach((item, i) => {

                                if (_this.getBetdata[i].WagerTypeID === 101 || _this.getBetdata[i].WagerTypeID === 103) {
                                    if (_this.getBetdata[i].type === 0) {
                                        _this.getBetdata[i].OddsValue = item.HomeHdpOdds
                                    } else if (_this.getBetdata[i].type === 1) {
                                        _this.getBetdata[i].OddsValue = item.AwayHdpOdds
                                    } else {
                                        _this.getBetdata[i].OddsValue = item.item.DrewOdds
                                    }
                                } else if (_this.getBetdata[i].WagerTypeID === 102 || _this.getBetdata[i].WagerTypeID === 104 || _this.getBetdata[i].WagerTypeID === 109) {
                                    if (_this.getBetdata[i].type === 0) {
                                        _this.getBetdata[i].OddsValue = item.OverOdds
                                    } else if (_this.getBetdata[i].type === 1) {
                                        _this.getBetdata[i].OddsValue = item.UnderOdds
                                    } else {
                                        _this.getBetdata[i].OddsValue = item.item.DrewOdds
                                    }
                                } else {
                                    if (_this.getBetdata[i].type === 0) {
                                        _this.getBetdata[i].OddsValue = item.HomeOdds
                                    } else if (_this.getBetdata[i].type === 1) {
                                        _this.getBetdata[i].OddsValue = item.AwayOdds
                                    } else {
                                        _this.getBetdata[i].OddsValue = item.item.DrewOdds
                                    }
                                }

                            })
                            console.log(_this.getBetdata);
                        })
                        _this.$forceUpdate()
                    }, 10000)

                }
            }

        }
    },
    mounted() {
        this.getbetHistory()
    },
    methods: {
        ...mapMutations('games', ['ADD_BERDATA', 'ADD_WAGERSTRING', 'DELETED_BERDATA','SET_HISTORY','SET_HISTORYSETTLED']),
        getclass(Status,isrepeat,err){

            if(this.type === 0){
                if(err){
                    return Status === 0?'BIL_Inerror BIL_Inerror1':'BIL_Inerror1'
                }else {
                    return Status === 0?'BIL_Inerror':''
                }

            }
            if(this.type === 1){
                return isrepeat?'BIL_Inerror1':''
            }

        },
        showErrorText(){
            var errornum = 0
            this.getBetdata.map( (value)=>{
                if(value.isrepeat){
                    errornum++
                }
            })
            this.errornum = errornum
            if(errornum>0 && this.type ===1){
                return true
            }else {
                return false
            }
        },
        Play_bet(val) {
            this.confirm = val
            var list = []
            if(this.type === 0){
                for (var i = 0; i < this.getBetdata.length; i++) {
                    if (this.getBetdata[i].Amount !== ''){
                        var obj = {
                            CatID: this.getBetdata[i].CatID,
                            WagerString: this.getBetdata[i].WagerString,
                            Amount: this.getBetdata[i].Amount,
                            AcceptBetter: false,
                            BetType: 1
                        }

                        list.push(obj)
                        console.log(list);
                    } else {
                        this.$notify({
                            title: '请先输入下注金额',
                            type: 'error'
                        });
                        return false
                    }

                }
            }else {
                if(this.AmountS !== ''){
                    var obj = {
                        CatID: this.getBetdata[0].CatID,
                        WagerString: this.WagerString,
                        Amount: this.AmountS,
                        AcceptBetter: false,
                        BetType: 99
                    }
                    list.push(obj)
                    console.log(list);
                } else {
                    this.$notify({
                        title: '请先输入下注金额',
                        type: 'error'
                    });
                    return false
                }

            }

            gamePlay({lang: "tw", list: list}).then((res) => {
                console.log(res);
                this.loading = true
                if (res.code === 200) {
                    this.playState(res.data.traceCodeKey)
                }
            })
        },
        getCodeText(val) {
            const codelist = [
                {code: 1000, text: '成功'},
                {code: -1001, text: '賠率已變更'},
                {code: -1002, text: '盤口關閉中'},
                {code: -1003, text: '盤口錯誤'},
                {code: -1004, text: '系統忙碌中'},
                {code: -1005, text: '額度不足'},
                {code: -1006, text: '投注超過單場上限'},
                {code: -1007, text: '投注超過單注上限'},
                {code: -1008, text: '盤口變更中'},
                {code: -1009, text: '系統發生錯誤'},
                {code: -1010, text: '賠率發生變化'},
                {code: -1011, text: '投注項目未開放'},
                {code: -1012, text: '會員不存在'},
                {code: -1013, text: 'syserror'},
                {code: -1014, text: '投注超過單隊上限'},
                {code: -1015, text: '投注超過上限'},
                {code: -1016, text: '投注失敗請重新投注'},
                {code: -1017, text: '單筆下注停押'},
                {code: -1018, text: '超過停押金額'},
                {code: -1019, text: '賽前停止下注'},
                {code: -1020, text: '下注管制'},
                {code: -1021, text: '限制總投注上限'},
                {code: -1022, text: '停押中'},
                {code: -1023, text: '投注超過會員單場上限'},
                {code: -1024, text: '投注超過會員單注上限'},
                {code: -1025, text: '投注超過會員單邊限額'},
                {code: -1026, text: '不允許體育投注'},
                {code: -1027, text: '盤口變更中'},
                {code: -1028, text: '盤口變更中'},
                {code: -1029, text: '可贏金額超過投注種類的單場上限'},
                {code: -1030, text: '不允許投注相同的過關組合'},
                {code: -1031, text: '投注金額超過單筆最高可贏金額'},
                {code: -1032, text: '投注超過盤口上限'},
                {code: -1207, text: '站台錯誤'},
                {code: -1208, text: '下注管制錯誤'},
                {code: -1209, text: '注单等待中不能投注同一个盘口'},
                {code: -1210, text: '未達最低投注限額'},
                {code: -2001, text: '投注發生錯誤'},
                {code: -2002, text: '會員代號錯誤'},
                {code: -2003, text: '投注類型錯誤'},
                {code: -2004, text: '盤口錯誤'},
                {code: -2005, text: '賠率錯誤'},
                {code: -2006, text: '金額錯誤'},
                {code: -2007, text: 'IP位置錯誤'},
                {code: -2008, text: '球類錯誤'},
                {code: -2009, text: '投注盤口錯誤-2009'},
                {code: -2010, text: '投注盤口錯誤-2010'},
                {code: -2011, text: '語系錯誤'},
                {code: -2012, text: '盤口已關閉'},
                {code: -2013, text: '赔率已改變，是否繼續投注?'},
                {code: -2014, text: 'API扣點失敗'},
                {code: -2015, text: '系统忙碌中'},
                {code: -2016, text: 'User Define'},
                {code: -3001, text: '系統錯誤3001'},
                {code: -3002, text: '系統錯誤3002'},
                {code: -3003, text: '系統錯誤3003'}
            ]
            for (var item of codelist) {
                if (item.code == val) {
                    return item.text
                }
            }
        },
        async playState(key) {
            var _this = this
           await playState({traceCodeKey: key}).then((res) => {
                console.log(res, 9999);
                if(this.type === 1){
                    if(res.data[0] === 201){
                        setTimeout(function () {
                            _this.playState(key)
                        }, 3000)
                        this.loading=true
                    }else if(res.data[0] === 200){
                        _this.DELETED_BERDATA('arr')
                        _this.getbetHistory()
                    }else {
                        this.$notify.error({
                            message: this.getCodeText(res.data[0])
                        });
                        this.loading=false
                    }
                }else {
                    if (res.data.indexOf(201) >= 0) {
                        setTimeout(function () {
                            _this.playState(key)
                        }, 3000)
                        this.loading=true
                    } else {
                        this.loading=false
                        res.data.map((item,i)=> {

                            if(item == 200) {
                                _this.successArr.push(i)
                                _this.getbetHistory()
                            } else {
                                _this.getBetdata[i].arrArr = _this.getCodeText(item)
                                _this.errArr.push(i)
                            }
                        })
                        _this.successArr.map((item,i)=> {
                            _this.DELETED_BERDATA(i)
                        })
                    }
                }
            })
        },
        deleteBet(i) {
            this.DELETED_BERDATA(i)
        },
        getbetHistory(){
            getbetHistory({lang:'cn',isset:false}).then((res)=>{
                console.log(res);
                this.SET_HISTORY(res.data.list)
            })
            getbetHistory({lang:'cn',isset:true}).then((res)=>{
                console.log(res);
                this.SET_HISTORYSETTLED(res.data.list)
            })
        }
    }
}
</script>


<style lang="scss" scoped>
@import '../../../assets/sass/theme/mixin.scss';
@import '../../../assets/sass/global.scss';

.BIL_In_padding {
    padding: 2px 8px;
}

.betInfo_Center {
    @include betInfo_SubT();
    color: #333;
    height: 100%;
    font-size: 13px;
}

.betInfo_List {
    @include betInfo_SubT();
    width: 300px;
    height: auto;
    padding: 5px;
    color: #333;

    .betError{
        position: absolute;
        top: 0;
        width: 100%;
        height: 100%;
        left: 0;
        background: rgba(0,0,0,0.6);
        border-radius:3px ;
        display: flex;
        align-items: center;
        justify-content: center;
        color: #ffffff;
        z-index: 9;
        span{
            width: 70%;
            text-align: center;
            height: 40px;
            border-radius: 40px;
            line-height: 40px;
            background: rgba(0,0,0,0.5);
        }
    }
    .el-icon-close {
        color: #333;
        cursor: pointer;
        font-size: 16px;
        font-weight: bold;
        z-index: 99;
    }
    .BIL_In {
        width: 290px;
        border-radius:3px ;
        background: #bbbbbb;
        position: relative;
    }
    .BIL_Inerror{
        .el-icon-close {
            color: #ffffff;
            cursor: pointer;
            z-index: 99;
        }
    }
    .BIL_Inerror1{
        background: #deb7b7;
        .BIL_T_text{
            background: #d18d8c;
        }
    }
    .BIL_input {
        display: flex;

        input:nth-child(2) {
            background-color: #e0e0e0;
            margin-left: 2%;
        }
        input {
            border: none;
            margin-top: 5px;
            height: 30px;
            width: 46%;
            padding-left: 5px;
        }
    }

    .BIL_T_text {
        font-size: 13px;
        line-height: 16px;
        margin-bottom: 3px;
        padding: 10px;
        width: 100%;
        justify-content: space-between;

        .t_red {
            color: red;
        }

        .t_inlineBox {
            display: inline-block;
            white-space: nowrap;
            color: #333;
        }
    }
    .t_orange {
        color: #d36200;
    }

    .betLimit_t {
        color: #006a8a;
        line-height: 30px;
    }
}
.errorText{
    width: 290px;
    margin: 0 auto;
    display: flex;
    height: 60px;
    background-color: #d66764;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    color: #ffffff;
    border-radius: 5px;
}
.errorText1{
    width: 290px;
    padding: 10px 0;
    margin: 0 auto;
    letter-spacing: 5px;
    text-align: center;
    color: #ff0000;
    font-size: 14px;
    font-weight: 600;

}
.t_blue {
    color: #005aff;
}

.betPlay_list {
    padding: 5px 10px;
    font-size: 13px;
    display: flex;
    line-height: 33px;
    justify-content: space-between;


    span:nth-child(1) {
        width: 60px;
        text-align: justify;
        text-align-last: justify;
    }
    >div{
        position: relative;
    }
    .t_blue {
        position: absolute;
        right: 2px;
        width: 50px;
        top: 2px;
        background: #fff;
        height: 30px;
        text-align: right;
        line-height: 30px;
        padding-right: 10px;
        border-left: 1px solid #dadada;
    }
    input {
        border: none;
        height: 30px;
        border-radius: 3px;
        padding-left: 5px;
    }
}

.betPlay_list1 {
    input {
        background: #c0c0c0;
    }

    .t_blue {
        background: #c0c0c0;
    }
}

.betPlay_btm {
    width: 100%;
    border-top: 1px solid #333;
    padding: 10px 5px;
    margin-top: 5px;
    font-size: 13px;
    @include betInfo_MainLfet();

    ul {
        width: 100%;
        display: inline-flex;
        align-items: center;

        li {
            width: 50%;

            div {
                width: 70px;
                white-space: nowrap;
                overflow: hidden;
            }
        }
    }

    .BPBM_L {
        @include betInfo_MainRight();
    }

    .BPBM_R {
        @include betInfo_MainStruc();
    }
}

.block {
    padding: 5px 10px;

    .BPC_List {
        padding: 10px 50px;

        img {
            width: 50px;
            height: 30px;
        }

        img:hover {
            -webkit-transform: translateY(-5px);
            -moz-transform: translateY(-5px);
            -ms-transform: translateY(-5px);
            -o-transform: translateY(-5px);
            transform: translateY(-5px)
        }
    }
}

.btn_betPlay {
    padding: 5px 5px 40px 5px;

    .btn {
        width: 120px;
        height: 35px;
        line-height: 35px;
        text-align: center;
    }

    .btn_betPlay_confirm {
        background: #ffea01;
        color: #000;
    }

    .btn_betPlay_clear {
        background: #838383;
        color: #fff;
    }

    .btn_betPlay_change {
        background: #41b590;
        color: #fff;
    }

    .btn_betPlay_confirmOK {
        background: #3a86de;
        color: #fff;
    }
}
</style>