<template>
    <div>
        <div class="table_head">
            <ul>
                <li class="table_head_type">
                    <div>
                        <i class="el-icon-arrow-up"></i>
                        <span v-if="getCadID == 1">足球</span>
                        <span v-if="getCadID == 101">棒球</span>
                    </div>
                </li>
                <li v-for="(item,i) in BestHead" :key="i" class="table_head_playtype">
                    <span >{{bestHeadTitle(item)}}</span>
                </li>
            </ul>
        </div>
        <div class="table_main">
            <el-collapse v-model="activeName" class="include" @change="handleChange">
                <el-collapse-item v-for="(item,i) in List" :key="i" class="table_team_list" :name=i >
                    <template slot="title">
                        <i class="el-icon-arrow-up"></i>
                        {{ item.LeagueNameStr }}
                    </template>
                    <table width="100%">
                        <!-- 队伍层-->
                        <tr v-for="(item_team,y) in item.Team" :key="y" class="list_table_tr">
                            <td class="list_table_td_1">
                                <ul>
                                    <li>
                                        <span>{{ item_team.ScheduleTimeStr | time_md }}</span>
                                        <span>{{ item_team.ScheduleTimeStr | time_hm }}</span>
                                    </li>
                                    <li>
                                        <div>{{ item_team.HomeTeamStr }}</div>
                                        <div>{{ item_team.AwayTeamStr }}</div>
                                        <div>和局</div>
                                    </li>
                                    <li><i class="el-icon-s-flag"></i></li>
                                </ul>
                            </td>
                            <td v-for="(item_team_Wager,e) in filterdata(item_team.Wager)" :key="e" class="odds_td">
                                <ul v-if="item_team_Wager.WagerTypeID === 101 || item_team_Wager.WagerTypeID === 103" class="odds_td_ul">
                                    <li @click="gobet({
                                     type:0,
                                     CatID:item.CatID,
                                     EvtID:item_team.EvtID,
                                     WagerTypeID:item_team_Wager.WagerTypeID,
                                     WagerGrpID:item_team_Wager.WagerGrpID,
                                     WagerPos:1,
                                     Odds:item_team_Wager.Odds[0],
                                     LeagueNameStr:item.LeagueNameStr,
                                     HomeTeamStr:item_team.HomeTeamStr,
                                     AwayTeamStr:item_team.AwayTeamStr,
                                     active:item_team_Wager.active
                                 }) "  class="havedata"  >
                                        <span>{{ item_team_Wager.Odds[0].HomeHdp }}</span>
                                        <span>{{ item_team_Wager.Odds[0].HomeHdpOdds }}</span>
                                    </li>
                                    <li @click="gobet({
                                     type:1,
                                     CatID:item.CatID,
                                     WagerTypeID:item_team_Wager.WagerTypeID,
                                     WagerGrpID:item_team_Wager.WagerGrpID,
                                     WagerPos:2,
                                     Odds:item_team_Wager.Odds[0],
                                     LeagueNameStr:item.LeagueNameStr,
                                     HomeTeamStr:item_team.HomeTeamStr,
                                     AwayTeamStr:item_team.AwayTeamStr,
                                       EvtID:item_team.EvtID,
                                     active:!item_team_Wager.active
                                 }) " class="havedata">
                                        <span>{{ item_team_Wager.Odds[0].AwayHdp }}</span>
                                        <span>{{ item_team_Wager.Odds[0].AwayHdpOdds }}</span>
                                    </li>
                                    <li></li>
                                </ul>
                                <ul v-if="item_team_Wager.WagerTypeID === 102 || item_team_Wager.WagerTypeID === 104 || item_team_Wager.WagerTypeID === 109"  class="odds_td_ul">
                                    <li @click="gobet({
                                     type:0,
                                     WagerPos:4,
                                     CatID:item.CatID,
                                     WagerTypeID:item_team_Wager.WagerTypeID,
                                     WagerGrpID:item_team_Wager.WagerGrpID,
                                     Odds:item_team_Wager.Odds[0],
                                     LeagueNameStr:item.LeagueNameStr,
                                     HomeTeamStr:item_team.HomeTeamStr,
                                     AwayTeamStr:item_team.AwayTeamStr,
                                     active:!item_team_Wager.active,
                                     EvtID:item_team.EvtID
                                 }) " class="havedata">
                                        <span>{{ item_team_Wager.Odds[0].OULine }}</span>
                                        <span>{{ item_team_Wager.Odds[0].OverOdds }}</span>
                                    </li>
                                    <li @click="gobet({
                                     type:1,
                                     WagerPos:5,
                                     CatID:item.CatID,
                                     WagerTypeID:item_team_Wager.WagerTypeID,
                                     WagerGrpID:item_team_Wager.WagerGrpID,
                                     Odds:item_team_Wager.Odds[0],
                                     LeagueNameStr:item.LeagueNameStr,
                                     HomeTeamStr:item_team.HomeTeamStr,
                                     AwayTeamStr:item_team.AwayTeamStr,
                                     active:!item_team_Wager.active,
                                     EvtID:item_team.EvtID,
                                 }) " class="havedata">
                                        <span>小</span>
                                        <span>{{ item_team_Wager.Odds[0].UnderOdds }}</span>
                                    </li>
                                    <li></li>
                                </ul>
                                <ul v-if="item_team_Wager.WagerTypeID === 111" class="odds_td_ul">
                                    <li @click="gobet({
                                     type:0,
                                     CatID:item.CatID,
                                     WagerTypeID:item_team_Wager.WagerTypeID,
                                     WagerGrpID:item_team_Wager.WagerGrpID,
                                     WagerPos:1,
                                     Odds:item_team_Wager.Odds[0],
                                     LeagueNameStr:item.LeagueNameStr,
                                     HomeTeamStr:item_team.HomeTeamStr,
                                     AwayTeamStr:item_team.AwayTeamStr,
                                     active:!item_team_Wager.active,
                                     EvtID:item_team.EvtID,
                                 }) " class="havedata">
                                      <span class="odds_center">{{item_team_Wager.Odds[0].HomeOdds}}</span>
                                    </li>
                                    <li @click="gobet({
                                     type:1,
                                     CatID:item.CatID,
                                     WagerTypeID:item_team_Wager.WagerTypeID,
                                     WagerGrpID:item_team_Wager.WagerGrpID,
                                     WagerPos:2,
                                     Odds:item_team_Wager.Odds[0],
                                     LeagueNameStr:item.LeagueNameStr,
                                     HomeTeamStr:item_team.HomeTeamStr,
                                     AwayTeamStr:item_team.AwayTeamStr,
                                     active:!item_team_Wager.active,
                                     EvtID:item_team.EvtID,
                                 }) " class="havedata">

                                     <span class="odds_center">{{item_team_Wager.Odds[0].AwayOdds}}</span>
                                    </li>
                                    <li></li>
                                </ul>
                                <ul v-if="item_team_Wager.notdata" >
                                    <li></li>
                                    <li></li>
                                    <li></li>
                                </ul>
                            </td>
                        </tr>
                    </table>
                </el-collapse-item>
            </el-collapse>
            <div v-show="List.length<=0" class="notdata">
                <div>
                    <img src="https://dcd.nbb21n.net/images/bb/white/icon_noGame.svg" alt="">
                    <p>暫無賽事</p>
                </div>

            </div>
        </div>
    </div>
</template>

<script>
import {getGameDetail} from "@/request/api/Games";
import {mapGetters, mapMutations} from 'vuex';

export default {
    name: "gameDataTable",
    data() {
        return {
            activeName: 0,
            BestHead: [],
            List: [],
        }
    },
    filters: {
        time_md(val) {
            var time = val.split(' ')[0];
            var timeYMD = time.replace(" ", ":").replace(/\:/g, "/").split("/");
            return timeYMD[1] + '-' + timeYMD[2]
        },
        time_hm(val) {
            var time = val.split(' ')[1];
            var timeHM = time.replace(" ", ":").replace(/\:/g, "/").split("/");
            return timeHM[0] + ':' + timeHM[1]
        }
    },

    methods: {
        ...mapMutations('games', ['ADD_BERDATA', 'ADD_WAGERSTRING','SET_TABLEDATA','SET_CADID']),
        gobet(data) {
            const {type, CatID, WagerTypeID, WagerGrpID, WagerPos, Odds, LeagueNameStr, HomeTeamStr, AwayTeamStr,active,EvtID} = data
            var Hdp = ''
            var ds = ''
            if(WagerTypeID === 101 || WagerTypeID ===103 ){
                Hdp = Odds.HomeHdp != '-' ? Odds.HomeHdp : Odds.AwayHdp
                ds = type === 0 ? Odds.HomeHdpOdds : (type === 1 ? Odds.AwayHdpOdds : Odds.DrewOdds)
            }else if(WagerTypeID === 102 || WagerTypeID ===104 || WagerTypeID ===109){
                Hdp = Odds.OULine
                ds = type === 0 ? Odds.OverOdds:Odds.UnderOdds
            }else {
                Hdp = 0
                ds = type === 0 ? Odds.HomeOdds:Odds.AwayOdds
            }
            var WagerString = CatID + ',' + Odds.GameID + ',' + WagerTypeID + ',' + WagerGrpID + ',' + WagerPos + ',' + Odds.HdpPos + ',' + Hdp + ',' + ds + ',' + 'DE'

            this.ADD_WAGERSTRING(WagerString)
            var betinfo_list = {
                CatID:CatID,
                LeagueNameStr:LeagueNameStr,
                HomeTeamStr:HomeTeamStr,
                AwayTeamStr:AwayTeamStr,
                WagerString:WagerString,
                type:type,
                Odds:Odds,
                WagerTypeID:WagerTypeID,
                WagerGrpID:WagerGrpID,
                active:active,
                EvtID:EvtID
            }
            this.ADD_BERDATA(betinfo_list)
            console.log(this.getBetdata.length);
        },
        handleChange() {

        },
        //数据按照besthead排序
        filterdata(list) {
            console.log('*/*****************'+list);
            var arrlength = this.BestHead.length
            var data = new Array(arrlength)
            for (var i = 0; i < this.BestHead.length; i++) {
                for (var y = 0; y < list.length; y++) {
                    if (this.BestHead[i].WagerGrpID === list[y].WagerGrpID &&  this.BestHead[i].WagerTypeID.indexOf(list[y].WagerTypeID) > -1) {
                        data[i] = list[y]
                    }
                }
            }
            for (var i = 0; i < data.length; i++) {
                if (data[i] == undefined) {
                    data[i] = {notdata: true}
                }
            }
            return data
        },
        getGameDetail(val){
            console.log(val);
            getGameDetail({lang: 'cn', CatID: this.getCadID, GameType: this.getgameState}).then((res) => {
                console.log("右侧玩法数据:", res);
                this.BestHead = res.data.BestHead
                this.List = res.data.List
            })
        },
        bestHeadTitle(item){
                if(item.WagerTypeID.indexOf(101) > -1 ||item.WagerTypeID.indexOf( 103) > -1){
                    if(item.WagerGrpID === 10 || item.WagerGrpID === 0 || item.WagerGrpID === 20){
                        return '全場讓球'
                    }else {
                        return '上半讓球'
                    }
                }
                if(item.WagerTypeID.indexOf(102) > -1 || item.WagerTypeID.indexOf(104) > -1 || item.WagerTypeID.indexOf(109) > -1){
                    if(item.WagerGrpID === 10){
                        return '全場大小'
                    }else {
                        return '上半大小'
                    }
                }
                if(item.WagerTypeID.indexOf(111) > -1){
                    if(item.WagerGrpID === 10 || item.WagerGrpID === 0 || item.WagerGrpID === 20){
                        return '全場獨贏'
                    }else {
                        return '上半獨贏'
                    }
                }
                if(item.WagerTypeID.indexOf(105) > -1){
                    if(item.WagerGrpID === 10 || item.WagerGrpID === 0 || item.WagerGrpID === 20){
                        return '全場单双'
                    }else {
                        return '上半单双'
                    }
                }
        }
    },
    watch:{
        getCadID(){
            this.getGameDetail()
        },
        getgameState(){
            this.getGameDetail()
        }
    },
    computed: {
        ...mapGetters('games',['getCadID','getBestHead','getBestList','getBetdata','getgameState'])
    },
    mounted() {
        this.getGameDetail(this.getCadID)
    },

}
</script>

<style lang="scss" scoped>
@import '../../../assets/sass/theme/mixin.scss';
@import '../../../assets/sass/global.scss';


.include >div.table_team_list:last-child .list_table_tr{
    border-bottom: 1px solid #adadad;
}

.notdata{
    height: 100%;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}
.active{
    background: #ffd5d5;
}
.table_head {
    height: 35px;
    @include nav-headrtBgcolor();

    ul {
        height: 100%;
        display: flex;
        align-items: center;
        font-size: 13px;
        color: #ffffff;

        li {

        }

        .table_head_type {
            display: inline-flex;
            justify-content: space-between;
            align-items: center;
            border-right: 1px solid #ffffff;
            height: 20px;
            width: 400px;

            i {
                margin: 0 18px;
                font-size: 16px;
            }
        }

        .table_head_playtype {
            //min-width: 180px;
            flex: 1;
            width: auto;
            text-align: center;
            border-right: 1px solid #ffffff;
            height: 20px;
        }
    }

}

.table_team_list {
    .el-collapse-item__header {
        padding: 0;

        i {
            margin: 0 20px;
        }
    }

    .el-collapse-item__content {
        padding: 0;
    }

    table tr:last-child {
        border: none;
    }

    .list_table_tr {
        width: 100%;
        display: flex;
        border-bottom: 1px solid #adadad;

        .list_table_td_1 {
            width: 400px;

            ul {
                display: flex;
                height: 100%;
                align-items: center;

                li:nth-child(1) {
                    width: 50px;
                    display: inline-flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;
                }

                li:nth-child(2) {
                    width: 310px;
                }

                li:nth-child(3) {
                    width: 40px;
                    display: inline-flex;
                    align-items: center;
                    font-size: 20px;
                    color: #5e5e5e;
                }
            }
        }

        .odds_td {
            border-left: 1px solid #e3e3e3;
            flex: 1;
            ul.odds_td_ul{
                li.havedata{
                    cursor: pointer;
                    text-align: center;
                }
                li.havedata:not(li.acitve):hover {
                    background: #ffe1ae;;
                }
            }
            ul {
                li:not(:last-child) {
                    border-bottom: 1px solid #e3e3e3;
                }

                li {
                    height: 30px;
                    line-height: 30px;
                    display: flex;
                    text-align: center;
                    width: 100%;
                    span {
                        width: 50%;

                    }

                    span:first-child {
                        text-align: right;
                        padding-right: 5px;

                    }

                    span:last-child {
                        text-align: left;
                        padding-left: 5px;
                        font-weight: bold;
                        color: #3fa381;
                    }
                    span.odds_center{
                        width: 100%;
                        text-align: center;
                    }
                }

            }
        }
    }
}
.table_main{
    height: calc(100% - 35px);
    overflow: auto;
    @include main-bg-color()
}
.table_main::-webkit-scrollbar{width:0;}
</style>