@import './variable.scss'; //导入常用颜色变量
$themes:(
        //默认浅色主题
        light :(
                bg_color: $background-color-theme,
                font_color: $font-color-tab,
                herd_color: $herd-color,
                nav_headrtcolor: $nav_headrtcolor,
                background-color-hederTop: $background-color-hederTop,
                nav-headrtBgcolor: $nav-headrtBgcolor,
                nav-TopBgcolor: $nav-TopBgcolor,
                nav-TopTextcolor: $nav-TopTextcolor,
                nav-TopTextNumbercolor: $nav-TopTextNumbercolor,
                betInfo_SubT: $betInfo_SubT,
                betInfo_MainStruc: $betInfo_MainStruc,
                betInfo_MainLfet: $betInfo_MainLfet,
                betInfo_MainRight: $betInfo_MainRight,
                betInfo_t_change: $betInfo_t_change,
                GDView_T: $GDView_T,
                hover_color: $hover_color,
                menu_item_bg:$menu_item_bg,
                betInfo_MainRightTable:$betInfo_MainRight1,
                font-color-theme:$font-color-theme,
                main-bg-color: $menu_item_bg,
        ),
        //深色主题
        dark :(
                bg_color: $background-color-theme1,
                font_color: $font-color-tab1,
                herd_color: $herd-color1,
                nav_headrtcolor: $nav_headrtcolor1,
                background-color-hederTop: $background-color-hederTop1,
                nav-headrtBgcolor: $nav-headrtBgcolor1,
                nav-TopBgcolor: $nav-TopBgcolor1,
                nav-TopTextcolor: $nav-TopTextcolor1,
                nav-TopTextNumbercolor: $nav-TopTextNumbercolor1,
                betInfo_SubT: $betInfo_SubT1,
                betInfo_MainLfet: $betInfo_MainLfet1,
                betInfo_MainStruc: $betInfo_MainStruc1,
                betInfo_MainRight: $betInfo_MainRight1,
                betInfo_t_change: $betInfo_t_change1,
                GDView_T: $GDView_T1,
                hover_color:$hover_color1,
                menu_item_bg:$menu_item_bg1,
                betInfo_MainRightTable:$GDView_T1,
                font-color-theme:$font-color-theme1,
                main-bg-color: $main-bg-color,
        )
)
