$background-color-theme: #3fa381;//背景主题颜色默认
$background-color-theme1: #c66820;//背景主题颜色1


$font-color-theme : #3fa381;//字体主题颜色默认
$font-color-theme1 : #9adeff;//字体主题颜色1

$font-color-tab:  #101010; //菜单栏字主题体颜色
$font-color-tab1: #ffffff; //菜单栏字主题体颜色1

$herd-color: #81f0ca; // 头部菜单栏主题颜色
$herd-color1: #ffffff;  // 头部菜单栏主题颜色

$nav_headrtcolor: #ffffff; // 左侧导航栏头部字体颜色
$nav_headrtcolor1: #bbbbbb; // 左侧导航栏头部字体颜色

$background-color-hederTop: #3fa381;//第二层头部背景主题颜色默认
$background-color-hederTop1: #532400;//第二层头部背景主题颜色1

$nav-headrtBgcolor: #085239; //左侧头部背景主题颜色默认
$nav-headrtBgcolor1: #404040; //左侧头部背景主题颜色默认1

$nav-TopBgcolor: #d5d5d5; //左侧下方背景主题颜色默认
$nav-TopBgcolor1: #474747; //左侧下方背景主题颜色默认1

$nav-TopTextcolor: #474747; //左侧下方字体颜色默认
$nav-TopTextcolor1: #ffffff; //左侧下方字体颜色默认1

$nav-TopTextNumbercolor: #3fa381; //左侧下方数字字体颜色默认
$nav-TopTextNumbercolor1: #9adeff; //左侧下方数字字体颜色默认1

$betInfo_SubT: #d5d5d5; // 内容切换背景色
$betInfo_SubT1: #666; // 内容切换背景色
 
$betInfo_MainStruc1: #ffea01; // 可赢金额颜色
$betInfo_MainStruc: #005aff; // 可赢金额颜色

$betInfo_MainLfet: #333333; // 可赢金额颜色左边
$betInfo_MainLfet1: #ffffff; // 可赢金额颜色左边

$betInfo_MainRight: #000000; // 可赢金额颜色左边数字
$betInfo_MainRight1: #ffffff;

$betInfo_t_change: #e47400; // 最新注单颜色右边数字
$betInfo_t_change1: #ffea01;

$GDView_T : #555;
$GDView_T1: #222;

$hover_color: #cbcbcb;//导航栏选项鼠标移入颜色
$hover_color1:#545454;//导航栏选项鼠标移入颜色1


$menu_item_bg: #ffffff;//导航栏子选项颜色
$menu_item_bg1: #383838;//导航栏子选项颜色1

$main-bg-color: #5f5f5f;// 中间表格背景色